<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
      <nav>
        <div>
          <a href="/"><span>Bookers</span></a>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        </div>
      </nav>
      <% else %>
      <nav>
        <div>
          <a href="/"><span>Bookers</span></a>
          <div>
            <ul>
              <li>
                <%= link_to root_path do %>
                  Home
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path do %>
                  Sign up
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path do %>
                  Log in
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
